<div class="container">
  <div class="row m-5" *ngIf="booksList">
    <div class="row">
      <div class="col-6">
        <button
          class="btn btn-primary mb-3"
          data-bs-toggle="modal"
          data-bs-target="#addBook"
          (click)="addNewBook()"
        >
          Add Books
        </button>
      </div>
      <div class="col-6">
        <span class="centerPosition"><b>SortBy: </b></span>
        <span>
          <span>Title</span>
          <label class="switch">
            <input
              type="checkbox"
              [(ngModel)]="sortToggle"
              (change)="onToggleSort()"
            />
            <span class="slider round"></span>
          </label>
          <span>Date</span>
        </span>
      </div>
    </div>
    <hr />
    <h3>Author: {{ booksList.author }}</h3>
    <h4>BirthDay: {{ booksList.birthday }}</h4>
    <h4>BirthPlace: {{ booksList.birthPlace }}</h4>
    <hr />
    <div class="col-md-6 col-sm-12 pt-3" *ngFor="let book of booksList.books">
      <div class="card">
        <img [src]="book.imageUrl" class="card-img-top" alt="book.title" />
        <div class="card-body">
          <h5 class="card-title">
            <a [href]="book.purchaseLink" target="_blank">{{ book.title }}</a>
          </h5>
          <p class="card-text">Publish Date: {{ book.PublishDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addBook"
  tabindex="-1"
  aria-labelledby="addBookLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBookLabel">Add Book</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="btnClose"
        ></button>
      </div>
      <div class="modal-body" *ngIf="newBookForm">
        <form [formGroup]="newBookForm">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Title of the book"
              formControlName="title"
            />
          </div>
          <div class="mb-3">
            <label for="publishDate" class="form-label">Publish Date</label>
            <input
              type="text"
              class="form-control"
              id="publishDate"
              placeholder="YYYY format like 1988"
              formControlName="PublishDate"
            />
          </div>
          <div class="mb-3">
            <label for="imageUrl" class="form-label">Image URL</label>
            <input
              type="text"
              class="form-control"
              id="imageUrl"
              placeholder="https://m.media-amazon.com/images/I/91I2ywLs1YL.jpg"
              formControlName="imageUrl"
            />
          </div>
          <div class="mb-3">
            <label for="purchaseLink" class="form-label">Purchase Link</label>
            <input
              type="text"
              class="form-control"
              id="purchaseLink"
              placeholder="https://www.amazon.com/BFG-Roald-Dahl/dp/0142410381/"
              formControlName="purchaseLink"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="newBookForm?.invalid"
          (click)="submitBooksData()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
